[core]
    autocrlf = true
    safecrlf = false
    whitespace = cr-at-eol
    excludesfile = ~/.gitignore
    editor = nvim
#    sshCommand = "C:\\Windows\\System32\\OpenSSH\\ssh.exe"
[alias]
    ci = commit
    cm = commit -m
    cam = commit -am
    co = checkout
    df = diff
    dfc = diff --cached
    dft = diff --text
    st = status -sb
    br = branch
    lg = log -p
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    hist = log --graph --full-history --pretty="%x1b[31m%h%x20%x1b[32m%ar%x1b[0m%x20%s%x20%C(bold)%d%Creset%x20%x1b[33m(%an)%x1b[0m"
    history = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    ls = ls-files
    mn = merge --no-commit
    sw = switch
[color]
    ui = true
[diff]
    tool = meld
    mnemonicprefix = true
    guitool = meld
[difftool "meld"]
{{- if eq .chezmoi.os "windows" }}
    path = "C:\\Program Files\\Meld\\Meld.exe"
{{- else }}
    path = "meld"
{{- end }}
[merge]
    tool = meld
    prompt = false
    keepBackup = false
    keepTemporaries = false
    stat = true
[mergetool "meld"]
{{- if eq .chezmoi.os "windows" }}
    path = "C:\\Program Files\\Meld\\Meld.exe"
{{- else }}
    path = "meld"
{{- end }}
    trustExitCode = true
[advice]
    statusHints = false
[branch]
    autosetupmerge = true
    autosetuprebase = always
[push]
    default = tracking
    followTags = true
    autoSetupRemote = true
[help]
    format = web
[web]
    browser = chrome
[browser "chrome"]
{{- if eq .chezmoi.os "windows" }}
    path = "C:\\program files\\Google\\Chrome\\Application\\chrome.exe"
{{- else }}
    path = "chrome"
{{- end }}
[rerere]
    enabled = true
    autoupdate = true
[commit]
    template = ~/.git-prepare-commit-msg
#    gpgsign = true
[credential]
{{- if eq .chezmoi.os "windows" }}
    helper = C:/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- else }}
    helper = manager
{{- end }}
[user]
    name = Richard Bogle
    email = richard.bogle@unsettling.co.uk
    signingkey = FFBF8D3EEB133EED
[gpg]
{{- if eq .chezmoi.os "windows" }}
    program = "C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe"
{{- else }}
    program = gpg
{{- end }}
